.navbar {

    color: darkslateblue;
    background-color: aliceblue;

    .navbar-brand {
        color: darkslateblue;
        font-weight: bold;
    }

    .nav-link {
        color: darkslateblue; 
    }

    .logout {
        border-radius: 0%;
        color: darkslateblue;
    }

    
}