<div class="cashback mt-5">
  <form [formGroup]="salesForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCode">CÓDIGO</label>
        <input type="number" formControlName="saleCode" placeholder="#" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label for="inputValue">TOTAL</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">R$</div>
          </div>
          <input type="text" formControlName="saleValue" appCurrencyMask class="form-control">
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputDate">DATA</label>
        <input type="date" formControlName="saleDate" class="form-control">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">ADICIONAR</button>
  </form>

  <!-- cashbacks -->
  <div class="mt-3">
    <div class="mb-3">
      <input class="cashback-search form-control mb-3" type="text" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="#000000, R$, %">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-2" *ngFor="let cashback of cashbacks | filter:searchText">
          <div class="cashback-card"
            [ngClass]="{ 'disapproved': cashback.status === 'Reprovado', 'approved': cashback.status === 'Aprovado', 'inValidation': cashback.status === 'Em validação' }">

            <ul style="list-style: none; width: 100%; padding: 0%; margin: 0%;">
              <li style="display: flex; flex-direction: row; justify-content: space-between; font-size: 1.2em; align-items: center;">
                <span>#{{cashback.saleCode}}</span><span>{{cashback.status}}</span>
              </li>
              <li style="display: flex; flex-direction: row; justify-content: space-between; font-size: 1.5em; align-items: center;">
                <p class="sale-value"> <strong>R$ {{cashback.saleValue}}</strong></p>
                <p>{{cashback.refundPercentage}}</p>
              </li>
              <li style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <p>{{cashback.saleDate | date}}</p>
                <p style="font-size: 1.2em;"><strong>R${{cashback.cashbackValue}}</strong></p>
              </li>
            </ul>

            <!-- <div class="mr-4 cashback-sale">
              <p>#{{cashback.saleCode}}</p>
              <p class="sale-value"> <strong style="font-size: 0.5em;">R$</strong> {{cashback.saleValue}}</p>
              <p>{{cashback.saleDate | date}}</p>
            </div>

            <div class="cashback-show">
              <p>{{cashback.status}}</p>
              <p style="font-size: 2.0em;">{{cashback.refundPercentage}}</p>
              <p style="font-size: 1.5em;"><strong style="font-size: 0.5em;">R$</strong> {{cashback.cashbackValue}}</p>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>